@model BouchonUniversel.Models.Bouchons.Environnement

@{
    this.ViewData["Title"] = "Details";
    this.Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Environnement</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @(this.Html.DisplayNameFor(model => model.Nom))
        </dt>
        <dd>
            @(this.Html.DisplayFor(model => model.Nom))
        </dd>
        <dt>
            @(this.Html.DisplayNameFor(model => model.IsEnabled))
        </dt>
        <dd>
            @(this.Html.DisplayFor(model => model.IsEnabled))
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@(this.Model.Id)">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
